.DS_Store
__pycache__/*
.ipynb_checkpoints/*
.metals/*
.vscode/*
data/songs/*
data_wrangling/eda.ipynb
design/*
mongo/*
node_modules/*
reco_system/__pycache__
reco_system/uplodas/*
sezame_app/node_modules/*
sezame_app/.next/*
venv/*
found_var.csv
found.csv
sample_fingerprints.csv
sorted_found.csv
sorted_hashes.csv
README.md
.gitignore
tmp/*