__pycache__
venv
.DS_Store
.vscode
data/songs
.ipynb_checkpoints
node_modules
found_var.csv
found.csv
sample_fingerprints.csv
sorted_found.csv
.metals
mongo/mongo-volume
tmp
reco_system/uploads
reco_system/__pycache__
sorted_hashes.csv
hashes_grouped.csv
found_hashes.csv