__pycache__
venv
.DS_Store
.vscode
data/songs
.ipynb_checkpoints
node_modules
data_wrangling/config.py
found_var.csv
found.csv
sample_fingerprints.csv
sorted_found.csv
.metals
mongo
tmp
reco_system/uploads
reco_system/__pycache__