.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    z-index: 3;
}

.search_icon {
    width: 20px;
    cursor: pointer;
    color : #884467;
}